<div class="home-screen">
    <h1 data-testid="home-title">Bienvenido a la aplicación ToDo</h1>
    <h2>Please enter your name</h2>
    <input
      type="text"
      placeholder="Enter your name"
      [(ngModel)]="userName"
      id="userName"
      name="userName"
      data-testid="home-username-input"
    />
    <button
      (click)="navigateToTodoApp()"
      name="submitButon"
      data-testid="home-submit-button"
    >
      Submit
    </button>
    <p *ngIf="showError" class="error-message">Name is required. Please enter your name.</p>
  </div>
